body {
    margin: 0;
    padding: 0;
    background: #14495e;
    cursor: none;
}

.eyes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.eye {
    width: 240px;
    height: 120px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.close-eye {
    visibility: hidden;
}

.ball {
    width: 80px;
    height: 80px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.my-cursor {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-image: url(./images/bug.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media (max-width: 720px) {
    .eye {
        width: 120px;
        height: 60px;
        margin: 20px;
    }

    .ball {
        width: 40px;
        height: 40px;
    }
}
